.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    z-index: 9999;
}

#leftArrow {
    left: 10px;
}

#rightArrow {
    right: 10px;
}
